<footer class="bg-dark text-light pt-5 pb-3">
  <div class="container">
    <div class="row">
      
      <div class="col-md-4 mb-4">
        <h3 class="h5 text-uppercase fw-bold text-primary">Desarrollado por:</h3>
        <p class="text-secondary">
         Alejandro L Valle	LU4139
        </p>
        <p class="text-secondary">
          Antonio Almada  LU4703
        </p>
        <p class="text-secondary">
          Jesus I Suruguay 	LU5337  
        </p>
        <p class="text-secondary">
          Tatiana del Milagro Guari  LU6534
        </p>
      </div>

      <div class="col-md-4 mb-4">
        <h4 class="h6 fw-bold">Redes Sociales</h4>
        <ul class="list-unstyled">
          <li><a href="https://facebook.com" target="_blank" class="text-decoration-none text-secondary link-primary">Facebook</a></li>
          <li><a href="https://instagram.com" target="_blank" class="text-decoration-none text-secondary link-primary">Instagram</a></li>
          <li><a href="https://x.com" target="_blank" class="text-decoration-none text-secondary link-primary">Twitter</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
        <h4 class="h6 fw-bold">Contacto</h4>
        <div class="text-secondary">
          <p class="mb-1">Email: tp3angular&#64;gmail.com</p>
          <p class="mb-0">Teléfono: 11-3333-4444</p>
        </div>
      </div>

    </div>

    <hr class="bg-secondary">
    <div class="text-center mt-3">
      <p class="small mb-0 text-secondary">
        &copy; {{ currentYear }} <span class="fw-bold">TP3Angular</span>. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>